* {
    font-family: Arial, Helvetica, sans-serif;
}

html,
body,
#background {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

#background {
    background: rgb(95,190,236);
    background: linear-gradient(135deg, rgba(95,190,236,1) 0%, rgba(48,73,157,1) 100%);
}

#content {
    display: grid;
    grid-template-columns: auto auto auto;
}

#headline h1 {
    padding: 16px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin: 0px;
    width: 100%;
    font-size: 7vw;
    text-align: center;
    color: aliceblue;
}



#imageContainer img {
    align-items: center;
    width: 100%;
}

.team {
    margin-bottom: 16px;
}

.players {
    text-align: center;
}

.players button {
    width: 85%;
    font-size: large;
}

.team,
.playerList {
    color: aliceblue;
    text-align: center;
}

.playerList input {
    width: 85%;
    margin: 8px 0% 8px 0%;
    font-size: x-large;
}

.team .name {
    font-size: x-large;
    font-weight: bolder;
    cursor: pointer;
}

.team .score {
    font-size: large;
    font-weight: bold;
    cursor: auto;
}

.tg {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0px auto;
    color: rgb(0, 0, 0);
    cursor: pointer;

}

.tg td {
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
    text-align: center;
    height: fit-content;
    width: 48px;
}

.tg th {
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 5px;
    word-break: normal;
    text-align: center;
    height: fit-content;
    width: 48px;
}

.tg th h3,
.tg td h3 {
    font-size:52px;
    margin: 0px;
}


.tg .tg-0lax {
    text-align: left;
    vertical-align: top;

}